<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="text">
            <name>blockedProperties</name>
            <label lang="de">blockedProperties</label>
            <label lang="en">blockedProperties</label>
            <value>test1;test2;test3</value>
            <description lang="de">schreiben Sie (;) zwischen die blocked properties Name.</description>
            <description lang="en">Plases write (;) bettwen the blocked properties  name.</description>
        </element>
    </elements>

</config>
