<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="text">
            <name>blockedProperties</name>
            <label lang="de">blocked Properties</label>
            <label lang="en">blocked Properties</label>
            <value>test1;test2;test3</value>
            <description lang="de">schreiben Sie (;) zwischen die blocked properties Name.</description>
            <description lang="en">Plases write (;) bettwen the blocked properties  name.</description>
        </element>

        <element type="text">
            <name>logo</name>
            <label lang="de">Logo url</label>
            <label lang="en">Logo url</label>
            <value>http://shopware.l/themes/Frontend/Responsive/frontend/_public/src/img/logos/logo--mobile.png</value>
            <description lang="de">https://example.com/logo.png</description>
            <description lang="en">https://example.com/logo.png</description>
        </element>

        <element type="text">
            <name>pageMargin</name>
            <label lang="de">Page Margin</label>
            <label lang="en">Page Margin</label>
            <value>35;15;25;15</value>
            <description lang="de">Form: top;right;bottom;left</description>
            <description lang="en">Form: top;right;bottom;left</description>
        </element>

        <element type="text">
            <name>marginHeader</name>
            <label lang="de">Margin Page Header</label>
            <label lang="en">margin Page Header</label>
            <value>0</value>
        </element>

        <element type="text">
            <name>marginFooter</name>
            <label lang="de">Margin Page Footer</label>
            <label lang="en">Margin Page Footer</label>
            <value>0</value>
        </element>

        <element type="text">
            <name>orientation</name>
            <label lang="de">Orientation</label>
            <label lang="en">Orientation</label>
            <value>P</value>
        </element>

        <element type="text">
            <name>default_font</name>
            <label lang="de">Default Font</label>
            <label lang="en">Default Font</label>
            <value>verdana</value>
        </element>

        <element type="text">
            <name>default_font_size</name>
            <label lang="de">Default Font Size</label>
            <label lang="en">Default Font Size</label>
            <value>0</value>
        </element>

        <element type="text">
            <name>pageFormat</name>
            <label lang="de">Page Format</label>
            <label lang="en">Page Format</label>
            <value>A4</value>
        </element>
    </elements>

</config>

